@{
    ViewBag.Title = "Welcome";
}
<div class="right_col" role="main">
    <div align="center" style="vertical-align:central;padding-top:300px;">
        <h1>
            Welcome To
            <img src="../Content/admin/images/GNMLogo1.png" height="150px" width="250px" />
        </h1>
    </div>

</div>